
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* 
font-family: "Quicksand", sans-serif;
font-family: "Open Sans", sans-serif; 

*/
body {
    padding-top: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.7;
    letter-spacing: 0.01em;
    font-weight: 400;
    color: #333;
}
h1, 
.resume-title {
    font-family: "Quicksand", sans-serif;
    line-height: 1.25;
    font-weight: 700;
    font-size: 40px;
}
h1 {
    margin: 10px 0;
}
.resume-title {
    margin: 0 0 30px;
}
.wrapper {
    position: relative;
}

.project {
    border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
    padding: 30px 0 60px;
    margin: 30px auto;
    width: 80%;
}

.project {
    display: flex;
}

.project-desc {
    width: 20%;
    padding: 2%;
}

.project-images {
    width: 76%;
    padding-left: 2%;
}

.project-title {
    font-size: 1.2em;
    margin: 0 auto;
    font-weight: bold;
}

.project-subtitle {
    font-size: 0.9em;
    color: #000;
    padding: 15px 0;
    display: block;
}

.project-pages {
    margin: 20px 0;
}

.project-pages span {
    display: block;
    margin-bottom: 4px;
    font-size: 0.7em;
}

.project-pages span b {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    font-size: 1.2em;
    line-height: 30px;
    font-weight: bold;
}

.project-pages-total {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 15px;
    margin-top: 15px;
}

.project-pages .project-pages-total b {
    background: #1F65DB;
    color: #fff;
}

.project-label span {
    background: #1F65DB;
    display: inline-block;
    color: #fff;
    padding: 5px 10px;
    margin: 0 5px 5px 0;
    font-size: 0.9em;
}

.project-tech {
    padding: 20px 0 10px;
    background: #F5F5F5;
    text-align: center;
}

.project-tech span {
    display: inline-block;
    padding: 3px 7px;
    border: 1px #777 solid;
    font-size: 0.7em;
    margin: 0 5px 7px 5px;
    color: #777;
}

.grid-sizer {
    width: 20%;
}

.grid-item {
    width: 20%;
    display: block;
    padding: 10px;
    border-radius: 10px;
    transition: background-image 0.3s ease-in-out;
    background-image: #fff;
}

.grid-item:hover {

    background-image: linear-gradient(293deg, #ED355B 0%, #1F65DB 100%);

}

.grid-item img {
    display: none;
    max-width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.grid-item-head {
    min-height: 50px;
    display: flex;
    align-content: center;
}

.grid-item-label {
    width: 70px;
    font-size: 2.1em;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    border-right: 1px #ccc solid;
    align-self: center;
}

.grid-item-name {
    font-size: 2.1em;
    padding: 0 10px;
    font-weight: bold;
    background: #fff;
}

.bg-colored {
    background-image: linear-gradient(293deg, #ED355B 0%, #1F65DB 100%);

    padding: 40px 0;
    color: #fff;
}

.loading {
    position: fixed;
    display: block;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
}

@media (max-width: 768px) {
    .project {
        display: block;
    }
    .project-desc,
    .project-images {
        width: 96%;
        padding: 2%;
    }
    .grid-item {
        width: 40%;
    }
    @media (max-width: 480px) {
        .grid-item {
            width: 100%;
        }
        .navbar-brand {
            width: 80%;
            padding: 6px 15px;
        }
    }
}
.navbar-brand {
    display: none;
}
.navbar-default {
    background: #fff;
    border-color: #fff;
    position: relative;

}
.navbar-default::before {
    content: "";
    display: block;
    height: 12px;
    width: 100%;
    background-image: linear-gradient(293deg, #ED355B 0%, #1F65DB 100%);
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background: #fff;
}
.navbar-default li a {
    font-size: 0.8em;
}
.resume {

  -webkit-animation: movedown 2s linear forwards;
  -moz-animation: movedown 2s linear forwards;
  -ms-animation: movedown 2s linear forwards;
  -o-animation: movedown 2s linear forwards;
  animation: movedown 2s linear forwards;
}
@keyframes movedown {
    0% {
        top:-100%;
    }
    100% {
        top:50%;
    }
}
@-webkit-keyframes movedown {
    0% {
        top:-100%;
    }
    100% {
        top:50%;
    }
}
@-moz-keyframes movedown {
    0% {
        top:-100%;
    }
    100% {
        top:50%;
    }
}
@-ms-keyframes movedown {
    0% {
        top:-100%;
    }
    100% {
        top:50%;
    }
}
.resum .row {
    display: flex;
    align-items: center;
}


.resume-subtitle {
  font-size: 2.8;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
}

.highlight {
    color: #ED355B;
}

.resume-desc {
font-size: .9em;
}

.resume-desc p {
    margin-bottom: 10px;
}

.resume-skills {
    font-size: 0.9em;
        margin-bottom: 50px;
}

.resume-skills-wrap {
     margin: 60px 0;

}

.resume-desc-wrap {
    margin: 0 0 30px;
    border-radius: 5px;
}
.resume-desc-wrap .highlight {
    font-weight: 500;
    color: #333 !important;
}
body {
    position: relative;
}

