//
// Utility classes
// --------------------------------------------------


// Floats
// -------------------------

.clearfix {
  .clearfix();
}
.center-block {
  .center-block();
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}


// Toggling content
// -------------------------

// Note: Deprecated .hide in favor of .hidden or .sr-only (as appropriate) in v3.0.1
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  .text-hide();
}


// Hide from screenreaders and browsers
//
// Credit: HTML5 Boilerplate

.hidden {
  display: none !important;
}


// For Affix plugin
// -------------------------

.affix {
  position: fixed;
}


// Margins and paddings

.paragraph-0 {
  .paragraph(0)  !important;
}
.paragraph-10 {
  .paragraph(10px)
}
.paragraph-20 {
  .paragraph(20px)
}
.paragraph-30 {
  .paragraph(30px)

}
.paragraph-40 {
  .paragraph(40px)
}
.paragraph-50 {
  .paragraph(50px)
}
.paragraph-60 {
  .paragraph(60px)
}
.paragraph-70 {
  .paragraph(70px)
}
.paragraph-80 {
  .paragraph(80px)
}



.wrapper-inner-10 {
  padding: 10px;
}
.wrapper-inner-20 {
  padding: 20px;
}
.wrapper-inner-30 {
  padding: 30px;
}
.wrapper-inner-40 {
  padding: 40px;
}
.wrapper-inner-50 {
  padding: 50px;
}
.wrapper-inner-60 {
  padding: 60px;
}
.wrapper-inner-70 {
  padding: 70px;
}
.wrapper-inner-80 {
  padding: 80px;
}